.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: $secondary-color;

    h2 {
        font-weight: bold;
        font-size: 36px;
    }

    .categories-wrapper {
        max-width: $hero-max-width;
        width: $wrapper-whidth;
    }
}