footer {
    background: #499aea;
    display: flex;
    justify-content: center;
    color: $main-color;
    font-size: 26px;
    font-weight: bold;

    .footer-wrapper {
        margin: 2em auto;
        max-width: $hero-max-width;
        width: $wrapper-whidth;
        display: flex;
        justify-content: space-between;

        p {
            margin: 1em auto;
        }

        .right {
            display: flex;
            align-items: center;
        }

        .social-media {
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 200;

            a,
            a:link,
            a:visited {
                color: $main-color;
                margin: 0.3em;
            }

            a:hover {
                color: $secondary-color;
            }

        }
    }
}