html,
body {
    background-color: #fbfcfc;
    color: #000;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}